.hide{
    display:none
}
.show{
    display:block;
}

.progress{height: .65rem;font-size:.55rem}
/* .aff_traffic_inflow{color:#1f1fd0} */
.no{color:#dc3545}
.yes{color:#28a745}
.mt15{margin-top: 15px;}
.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }